<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>ZOBAA! 旅遊</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="pt-13 bg-neutral-15">

      <section class="py-lg-13 py-10 ">
        <div class="container">
          <div class="mb-10">
            <div class="h-200px h-lg-480px position-relative">
              <img src="/assets/images/hero.png"  class="w-100 h-100 rounded-7" alt="">
              <a class="d-none d-lg-block btn p-0 border-0 position-absolute bottom-0 end-0 text-white m-8"><img src="/assets/images/edit-icon.svg" class="me-2" alt="">更換封面</a>
              <div class="position-absolute top-100 start-50 translate-middle">
                <div class=" user-avatar-img position-relative mx-auto">
                  <img src="/assets/images/avatar-1.png" class="w-100" alt="">
                  <div class="position-absolute bottom-0 end-0">
                    <a href="#" class="bg-primary d-inline-block rounded-circle p-2">
                      <img src="/assets/images/edit-icon.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center mt-12">
              <h3 class="text-primary fs-6 fs-lg-5">Jessica Yen</h3>
              <p class="text-neutral-80">jessica.yen@gmail.com</p>
            </div> 
          </div>

          <div class="">
            <ul class="nav nav-pills mb-3 bg-white rounded-5 py-4 px-1" id="pills-tab" role="tablist">
              <li class="nav-item border-end w-33 text-center text-lg-start" role="presentation">
                <button class="btn border-0 nav-user-style   active px-6 pt-3 pb-0 " id="user-accout-tab" data-bs-toggle="pill" data-bs-target="#user-accout" type="button" role="tab" aria-controls="user-accout" aria-selected="true">我的帳號</button>
              </li>
              <li class="nav-item border-end w-33 text-center text-lg-start" role="presentation">
                <button class="btn border-0 nav-user-style px-6  pt-3 pb-0 " id="order-management-tab" data-bs-toggle="pill" data-bs-target="#order-management" type="button" role="tab" aria-controls="order-management" aria-selected="false">訂單管理</button>
              </li>
              <li class="nav-item w-33 text-center text-lg-start" role="presentation">
                <button class="btn border-0 nav-user-style px-6  pt-3 pb-0" id="my-favorites-tab" data-bs-toggle="pill" data-bs-target="#my-favorites" type="button" role="tab" aria-controls="my-favorites" aria-selected="false">我的收藏</button>
              </li>
            </ul>

            <div class="card rounded-5 border-0 shadow-sm p-4 p-lg-8">
              <div class="card-body pt-4 p-0">

                <!-- 我的帳號 -->
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="user-accout" role="tabpanel" aria-labelledby="user-accout-tab">
                    <h2 class="fs-3 fs-lg-1 fw-bold mb-10">我的帳號</h2>
                    <div>
                      <ul class="nav nav-pills fw-bold flex-nowrap mb-6 mb-lg-10 border-bottom " id="user-accout-tab" id="pills-tab" role="tablist">
                        <li class="nav-item me-2" role="presentation">
                          <button class="nav-link active nav-style-Dline" id="personal-info-tab" data-bs-toggle="pill" data-bs-target="#personal-info" type="button" role="tab" aria-controls="personal-info" aria-selected="true">個人資訊</button>
                        </li>

                        <li class="nav-item me-2" role="presentation">
                          <button class="nav-link nav-style-Dline" id="travelers-tab" data-bs-toggle="pill" data-bs-target="#travelers" type="button" role="tab" aria-controls="travelers-tab" aria-selected="false">常用旅客</button>
                        </li>
                      </ul>

                      <!-- 個人帳號 > 個人資訊 -->
                      <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="personal-info" role="tabpanel" aria-labelledby="personal-info-tab" >
                          <form class="mb-10">
                            <div class="mb-3">
                              <label for="uesrname" class="form-label fs-8 fs-lg-7 text-neutral-80">姓名</label>
                              <input type="text" class="form-control-plaintext fw-bold fs-lg-6" id="uesrname" value="Jessica Yen" readonly>
                            </div>
                            <div class="mb-3">
                              <label for="user-email" class="form-label fs-8 fs-lg-7 text-neutral-80">電子信箱</label>
                              <input type="email" class="form-control-plaintext fw-bold fs-lg-6" id="user-email" value="jessica.yen@gmail.com" readonly>
                            </div>
                            <div class="mb-3">
                              <label for="user-password" class="form-label fs-8 fs-lg-7 text-neutral-80">密碼</label>
                              <input type="password" class="form-control-plaintext fw-bold fs-lg-6" id="user-password" value="123234234234" readonly>
                            </div>
                            <div class="mb-3">
                              <label for="user-phone-num" class="form-label fs-8 fs-lg-7 text-neutral-80">密碼</label>
                              <input type="tel" class="form-control-plaintext fw-bold fs-lg-6" id="user-phone-num" value="+886 912-345-678" readonly>
                            </div>
                            <div class="mb-3">
                              <label for="user-address" class="form-label fs-8 fs-lg-7 text-neutral-80">地址</label>
                              <input type="text" class="form-control-plaintext fw-bold fs-lg-6" id="user-phone-num" value="台北市士林區幸福路193號5樓之1" readonly>
                            </div>
                            <div class="mb-3">
                              <label for="user-birth" class="form-label fs-8 fs-lg-7 text-neutral-80">生日</label>
                              <input type="text" class="form-control-plaintext fw-bold fs-lg-6" id="user-birth" value="1995-09-20" readonly>
                            </div>


                            
                          </form>
                          <div class="text-end">
                            <button type="button" class="btn btn-outline-primary fw-semibold py-4 w-sm-100 rounded-4 px-lg-8">
                              <img src="/assets/images/edit-black.svg" class="align-top me-2 " alt="">編輯資訊
                            </button>
                          </div>
                          
                        </div>

                      <!-- 個人帳號 > 常用旅客 -->
                        <div class="tab-pane fade" id="travelers" role="tabpanel" aria-labelledby="travelers-tab">
                          <div class="card travelers-card rounded-6 p-lg-6 mb-3">
                            <div class="card-body d-lg-flex justify-content-between align-items-lg-center p-lg-0">
                              <div class="d-flex align-items-center gap-2 mb-4 mb-lg-0">
                                <div class="travelers-user-img rounded-circle overflow-hidden">
                                  <img src="/assets/images/avatar-1 (1).png"  class="w-100 " alt="">
                                </div>
                                <p class="fs-6 fw-bold">Jessica Yen</p>
                              </div>
                              <div class="d-flex justify-content-between gap-2 ">
                                <button type="button" class="btn btn-outline-primary  fw-semibold py-4 px-6 rounded-4">
                                  <img src="/assets/images/edit-black.svg" class="align-top me-2" alt="">編輯資訊
                                </button>
                                <button type="button" class="btn btn-outline-primary btn-default fw-semibold py-4 rounded-4">
                                  <img src="/assets/images/close-icon.svg" class="align-top me-2" alt="">刪除
                                </button>
                              </div>
                              
                            </div>
                          </div>
                          <div class="card travelers-card rounded-6 p-lg-6 mb-lg-10">
                            <div class="card-body d-lg-flex justify-content-between align-items-lg-center p-lg-0">
                              <div class="d-flex align-items-center gap-2 mb-4 mb-lg-0">
                                <div class="travelers-user-img rounded-circle overflow-hidden">
                                  <img src="/assets/images/avatar-2.jpg"  class="w-100 " alt="">
                                </div>
                                <p class="fs-6 fw-bold">Jenny Lin</p>
                              </div>
                              <div class="d-flex justify-content-between gap-2 ">
                                <button type="button" class="btn btn-outline-primary  fw-semibold py-4 px-6 rounded-4">
                                  <img src="/assets/images/edit-black.svg" class="align-top me-2" alt="">編輯資訊
                                </button>
                                <button type="button" class="btn btn-outline-primary btn-default fw-semibold py-4 rounded-4">
                                  <img src="/assets/images/close-icon.svg" class="align-top me-2" alt="">刪除
                                </button>
                              </div>
                              
                            </div>
                          </div>

                          <div class="text-end d-none d-lg-block">
                            <button type="button" class="btn btn-outline-primary btn-default fw-semibold py-4 rounded-4">
                              <img src="/assets/images/plus-icon.svg " class="me-2" alt="">新增常用旅客
                            </button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="order-management" role="tabpanel" aria-labelledby="order-management-tab">
                  <h4>訂單管理</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptas porro dolore! Sequi maxime quisquam quidem, quaerat labore quis soluta, illum itaque optio voluptatum ab at aspernatur neque error provident?Eum deserunt alias ipsa dolores molestiae tempore, recusandae architecto. Nesciunt assumenda quaerat tempore numquam libero, tempora animi doloremque inventore veritatis doloribus tenetur ullam id ratione! Culpa vitae ipsum maiores porro?
                    Inventore unde similique ex, vero et harum possimus dolorem facilis. Maiores numquam perferendis mollitia eos, delectus ipsam quasi iusto nesciunt aliquam dolorem ullam accusantium sit placeat, iure enim eius. Magni?
                  Repellat totam nisi, deleniti porro, nulla architecto repellendus dicta saepe, culpa corrupti repudiandae dolores amet itaque vero. Laborum quod, tempore non quaerat dolore quia magnam sed, quos aliquam fuga ex.
                  Quasi expedita tempore voluptas, error neque corrupti nobis rerum impedit, at molestias sequi commodi consectetur ipsam adipisci alias doloribus dolorum? Ad impedit unde quia repudiandae laboriosam sequi esse numquam rerum.
                  Consequuntur saepe ex possimus qui debitis doloribus adipisci minus temporibus inventore obcaecati corporis quos molestias commodi vero ad voluptatum, exercitationem labore soluta! Provident nihil unde consequuntur hic iure tenetur suscipit!
                  Debitis vero, ut enim rerum laboriosam placeat laudantium? Quae accusamus nostrum sunt tenetur? Voluptatibus eius, distinctio veniam, quis cum quasi vel aperiam veritatis corporis id officiis dolore, minima error ad!
                  Quibusdam dolorem odit totam unde quod voluptatibus? Saepe magnam placeat dolorum ut dolores, repudiandae neque voluptas soluta repellendus totam labore assumenda atque eligendi eius doloremque officiis amet deleniti excepturi corporis?
                  Ea quod eveniet doloribus provident, itaque consequatur repellendus sequi, sed incidunt dolore reiciendis molestias ab sint voluptatum totam nihil, tenetur ipsam molestiae explicabo modi nulla nostrum! Impedit distinctio incidunt dolore!
                  Reprehenderit, voluptatum excepturi fugiat earum suscipit hic ipsum sunt numquam obcaecati consectetur corporis perspiciatis iste. Commodi, non nostrum! Iusto porro aspernatur esse reprehenderit saepe quos sunt tenetur harum earum deserunt.
                  </p>
                  </div>
                  <div class="tab-pane fade" id="my-favorites" role="tabpanel" aria-labelledby="my-favorites-tab">
                  <h4>我的收藏</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aut quae reprehenderit ea amet molestias dolores suscipit quos eius. Velit deleniti architecto placeat libero deserunt culpa officiis aspernatur accusantium dicta!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, repellat non deserunt natus praesentium eveniet cupiditate dolores eum. Totam error, deleniti esse atque delectus vero? Sapiente provident omnis exercitationem et.
                    Voluptates, sequi. Voluptas pariatur, libero labore sed aspernatur nemo provident reprehenderit tempore, porro sequi in itaque repellendus nam? Odio adipisci nulla facere dolor vero. Earum pariatur repudiandae ut modi unde.
                    Laboriosam exercitationem sapiente, harum beatae repellat consequatur impedit, veritatis accusantium dolorum voluptatem, cumque dolores fugiat libero deserunt illum sint reprehenderit commodi. Quaerat quae similique obcaecati officia eligendi deserunt autem accusantium?
                    Ullam laudantium necessitatibus, atque culpa voluptate quisquam quis ab blanditiis, dolores nesciunt voluptatem minima excepturi dolorem voluptas, dolor maiores. Commodi, autem et? In repudiandae quam, neque quaerat numquam animi provident.
                    Tempora nulla corrupti temporibus eum aliquid tenetur quae consequuntur unde, eos veniam sed, commodi molestias vitae optio nihil deleniti. Aliquid dignissimos pariatur quod eveniet iste ad fuga amet error quaerat!
                    Distinctio ducimus iure explicabo voluptates id! Quae quod, repellat rerum earum praesentium doloribus. Recusandae quos, sint debitis natus quibusdam placeat sequi odio ipsa blanditiis deserunt veniam eum numquam, obcaecati rerum!
                    Ipsa minima architecto et cum quaerat quis ipsam, veritatis pariatur deserunt adipisci, laudantium, deleniti placeat similique reprehenderit. Doloremque, adipisci sequi sed nulla laudantium minus impedit, molestias quibusdam placeat corrupti dolore?
                    Voluptatibus pariatur delectus laboriosam enim possimus cupiditate provident reprehenderit quo at, rem officiis, ea velit, est repellat id? Fugit, dolorum ipsa error praesentium perferendis repellendus autem animi et incidunt ab.
                    Nostrum rem provident similique! Distinctio error est facere voluptatem id ut facilis inventore laborum, delectus consequuntur dolorum aliquid officia tempore, et vitae aut odit eligendi ratione non. Pariatur, tempora quidem.
                    Sunt quos sint nihil fuga repudiandae dolore vero soluta sed, ullam illum incidunt sapiente quae odit. Consequatur, repellat? Nostrum tempora autem nihil cumque possimus optio eveniet accusamus? Eaque, iusto ullam!
                  </p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>





    </main>

    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerGroup: 1,   // 每個 slide 間距，可依需求調整
          loop: true,         // 開啟循環
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          breakpoints: {
            0: {            // 手機
              slidesPerView: 1.2,
              spaceBetween: 24,
            },
            576: {          // 小平板
              slidesPerView: 2,
              spaceBetween: 16,
            },
            992: {          // 桌面
              slidesPerView: 4,
              spaceBetween: 20,
            },
          }
        });
      </script>

    <script type="module" src="../main.js"></script>
  </body>
</html>

